* {
    box-sizing: border-box;
  }
  
  body {
    background-color: gray;
    font-family: system-ui, sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px;
  }

  .body hero {
    display: flex;

  }
  
  nav {
    display: flex;                /* Enable flexbox on the nav */
    justify-content: space-between; /* Distribute the space between the two child containers */
    align-items: center;           /* Vertically center the items in the nav bar */
    padding: 10px 20px;            /* Add some padding to the top, bottom, left, and right */
    background-color: #f8f8f8;     /* Optional: Add a background color */
}

#destinations {
  display: flex;                /* Enable flexbox on the nav */
  justify-content: space-between;
}

#actions {
  display: flex;                /* Enable flexbox on the nav */
  justify-content: space-between;
}

  div {
  display: flex;  
}



#hero {
  display: grid;
  justify-items: center;
}

#headers {
display: flex; 
 background-color: blue;
 align-items: center; 
 text-align: center;

} 

#trending {
display: flex; 
background-color: yellow;
justify-items: center;
justify-content: space-evenly;
}


  p {
    margin: 0;
  }
  
  section {
    height: 460px;
    background-color: black;
    color: white;
    padding: 24px 72px;

  }
  
  h1,
  h2 {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px
    font-size: 32px;
  }
  
  h2 {
    font-size: 16px;
    margin-top: 0;
  }
  
  input {
    height: 58px;
    width: 80%;
    max-width: 600px;
    border-radius: 29px;
    border: 0px;
    padding: 0 24px;
    background-color: #ea4c89;
  }
  
  main {
    background-color: white;
    padding: 32px 72px;
  }
  
  nav button {
    background-color: #ea4c89;
    border-radius: 8px;
    padding: 10px 16px;
    border: 0;
    color: #ffffff;
    font-weight: 500;
  }
  
  .img-placeholder {
    width: 355px;
    height: 270px;
    background-color: gray;
    border-radius: 8px;
  }
  
  .card-footer {
    font-size: 14px;
  }
  
  .card-footer * {
    margin-top: 8px;
  }
  
  #subnav {
    padding: 32px 72px 0;
    background-color: white;
  }
  
  #subnav button {
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid black;
    background-color: white;
  }
  
  #trending p {
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 6px 15px;
  }